/*---------------------------------------
CE QUI EST SPECIFIQUE AU PROJET
---------------------------------------*/
:root {
    --beige-claire: #FFFCF8;
    --beige: #FDFCDC;
    --saumon: #FED9B7;
    --corail:#F07167;
    --bleu-claire: #00AFB9;
    --bleu-foncer:#0081A7;
    --violet: #a74f67;
    --rose: #df7f98;
    --rose-claire:#D2AEAE;
    --marron-fonce: #614846;
    --marron-claire:#b16262; 

  }
body {
    font-family: 'Comfortaa', cursive;
    background-color: #FFFCF8;
    line-height: 1.5;
    padding-top: 70px;
    overflow: hidden;
    overflow-y: scroll;
    
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

/* -----------------------------------------------------------
                Design generique des pages
-------------------------------------------------------------------*/

/* importation de mes vue en une div */
.view, .content{
    min-height: 90vh;
}
#logo {
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 30px;
    line-height: 1;
    background-color: transparent;
    color: rgb(177, 98, 98);
    position: absolute;
    top: 13px;
    left: 10%;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFCF8;
    z-index: 50;
    border-bottom: thick double rgb(177, 98, 98);
}
.mla {
	margin-left: auto;
}

header nav a {
    display: block;
    color: var(--marron-fonce);
    text-decoration: none;
    padding: 20px 0 20px 75px;
}
header nav a:hover {
    text-decoration: underline overline var(--marron-fonce);
}
header nav li {
    text-align: center;
    font-size: 20px;
}
#nav2 i, #nav2 a {
    color: #f0ecec;
}
.wrapH{
    width: 80%;
	margin: 0 auto;
	min-width: 320px;
	max-width: 2560px;
}

h1 {
    padding: 50px 0 15px;
    text-align: center;
    color: var(--beige-claire);
    font-size: 30px;
    margin-bottom: 30px;
    margin: 60px auto;
    width: 90%;
}
footer {
    background-color: rgba(0, 0, 0, 0.69);
}
footer p a {
    color:#FFF;
    text-decoration: none;
    display: block;
    padding: 8px;
    font-size: 15px;
}
footer p a:hover {
    
    text-decoration: underline #FFF;
}
 footer p {
    color: #FFF;
}
.feedback {
    padding: 10px 20px;
    background-color: #494343c0;
    color: rgb(255, 255, 255);
    min-height: 90px;
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
    z-index: 10;
    border-radius: 10px;
    width: 68%;
    margin: 0 0 30px 50px;

}

/* -----------------------------------------------------------------
                        SECTION Profil User
------------------------------------------------------------------ */


 /* _____________________________________Espace perso__________________________________ */

 #secondaire{
    margin: 0 auto 50px;
    width: 430px;
}
.votre-espace, .envoyer-une-demande-dami {
    /* background-image: url(../images/gradient-picmento-souvenir.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: var(--rose-claire);

}
.votre-espace h1 {
    color:var(--beige-claire);
    margin: 60px auto 30px;
}
.votre-espace fieldset i{
    color:var(--marron-fonce);
}
.votre-espace fieldset {
    color: #B46462;
}
.envoyer-une-demande-dami h1 {
  color: var(--beige-claire);
 
}
input[type=email] {
    color: rgb(58, 58, 58);
    border:none;

}
input[type=email]:focus {
    color: rgb(58, 58, 58);
    border:none;
}
.votre-espace  fieldset a{
color: #FFF;

}



.votre-espace legend {
    position: relative;
    font-size: 20px;
    padding: 12px;
    color: var(--violet);
    bottom: 13px;
}


.votre-espace fieldset {
    padding: 0px 0 20px 24px;
    margin: 0 0 45px;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
}
.votre-espace fieldset a {
    display: inline-block;
    text-decoration: none;
    margin: 10px ;
}
.votre-espace fieldset a:hover {
    color: var(--rose);
    text-decoration: underline;
}

/* _____________________________FORMULAIRE modifier-votre-profil____________________________ */

.modifier-votre-profil {
    background-image: url(../images/gradient-picmento-souvenir.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.modifier-votre-profil .consigne {
    color:var(--beige-claire);
}
.modifier-votre-profil .visu-mdp {
    right: 67px;
}

/* _____________________________FORMULAIRE modifier-votre-mdp____________________________ */

/* .modifiez-votre-mot-de-passe {
    background-image: url(../images/gradient-picmento-souvenir.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
/* _____________________________avatar_______________________________________ */
/* .votre-avatar{
    background-image: url(../images/gradient-picmento-souvenir.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
} */
.avatar{
    width: 220px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;

}

.votre-avatar form {
   
    margin-bottom: 0px;
    width: 100%;
    padding: 22px 30px 20px;
    margin: auto;
    
}
.xlg-3{
    width: 30%;
}
.xlg-9{
    width: 70%;
}
/* _____________________________supprimer compt_______________________________________ */
.supp {
  width: 300px;

}
.supprimer-votre-compte {
    background: #23282C;
}
.supprimer-votre-compte h1 {
    color: var(--beige-claire);
    
}
.supprimer-votre-compte h2 {
    margin: 0 0 18px 0;
    color: var(--beige-claire);
}
/* .supprimer-votre-compte .containterSupprimer p {
    margin: 20px 0;
} */
.supprimer-votre-compte .containterSupprimer ul li {
    margin-left: 18px;
    margin-bottom: 8px;
    color: rgb(12, 11, 11);
} 
.supprimer-votre-compte .containterSupprimer .btn {
    margin: 20px 14px 0;
    background: var(--beige-claire);
}
.supprimer-votre-compte .containterSupprimer .btn:hover {
    color: var(--co);
    text-decoration: underline var(--co);
}
.containterSupprimer {
    width: 68%;
    padding: 30px;
    border-radius: 10px;

    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 5px 42px 2px rgba(255, 255, 255, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
    margin-bottom: 30px;
         
    }
.supprimer-votre-compte img {
    width: 100%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    /* margin-bottom: 30px; */
}

/* ----------------------------------------------------------------------------------------- 
                               SECTION tribu
 ------------------------------------------------------------------------------------------*/

 .toutes-mes-tribus h1 {
    color: #43637a;
    /* text-shadow: 1px 1px 2px #ccc; */
    text-shadow: 1px 1px 2px #ccc, 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
   
 }
 .toutes-mes-tribus {
    background-image: url(../images/plume-paysage.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 right 0;
    min-height: 90vh;

 }
 .tribubaby {
     position: relative;
     margin-bottom: 75px;

 }
 .tribubaby .nav-tribu{
    position: absolute;
    right: 0px;
    top: 0px;
}
 .tribubaby .nav-tribu ul {
    list-style-type: none;
 }
 .tribubaby .nav-tribu ul li {
    background-color: rgba(255, 255, 255, 0.534);
    width: 50px;
    height: 50px;
    margin: 0 0 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
 .tribubaby .nav-tribu ul a{
    
    display: block;
    padding: 10px;
    color: var(--bleu-foncer);
 }
.les-tribus-de-mon-ami h1 {
    color: var(--beige-claire);
    margin-bottom: 0;
}
.les-tribus-de-mon-ami .h2titre {
    color: var(--beige-claire);
    text-align: center;
    margin-bottom: 30px;
}
.les-tribus-de-mon-ami .tribubaby .nav-tribu ul i{
    color: #53b8e4;
}

 .tribubaby .nav-tribu ul i{
    font-size: 25px;
    margin: 6px 0;
    color: var(--bleu-foncer);
}
 .tribubaby .nav-tribu ul .ico{
    font-size: 30px;
    color: var(--bleu-foncer);
}
.tribubaby .nav-tribu ul i:hover{
    color: #0292bed7;
}

.ico {
    font-family: "icofont";
    font-size: 35px;
    color: var(--bleu-foncer);
}
 .baby {
     position: relative;
     padding: 22px 0 55px;
     width: 15vw;
     margin: 0 35px 0;
 }
 .tribubaby .colG{
    width: 100%;
    min-height: 266px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

}
.colG > h2{
    padding: 25px;
    width: 100%;
    color: #43637a;
}

.id-baby{
    cursor: pointer;
}

/* -___________________________image carre */
.cassbonbon{
	width: 100%;
	position: relative;
    margin: 0 auto;
}
.cassbonbon:after {
    content:'';
	display: block;
	padding-bottom: 100%;
}
.photo-carre-tribu{
    position: relative;
}
.photo-carre-tribu img {
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
    left: 0;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.cassbonbon:hover img {
    filter: brightness(113%);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.55);

}
/* --------------------------------------------------- */
.nom-baby{
    position: absolute;
    color:  #4b4949;
    margin: 0 auto ;
    bottom: -42px;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    padding-top: 10px;
    width: 100vw;
}


.modale {
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 9%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 73%, rgba(0,0,0,0.44) 88%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 9%,rgba(0,0,0,1) 71%,rgba(0,0,0,1) 73%,rgba(0,0,0,0.44) 88%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #006a8aea 9%,rgba(13, 35, 65,1) 71%,rgba(13, 35, 65,1) 73%,rgba(13,35,65,0.44) 88%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	position: absolute;
	top: 20px;
    transition: 1s linear;
    z-index: 50;
	left: -150vw;
    width: 100%;
    padding: 5px 0 20px;
    border-radius: 10px;

}
.modale.open{
    left: 0;
    top: 0;
}
.modale a{
    text-align: left;
    color: #FFF;
    display: block;
    padding: 5px 10px 5px 10px ;
}
.modale a:hover{
    color: rgb(19, 47, 87) ;
    background: #ffffff; 
    border-radius: 10px;
}

.modale h3 {
    font-size: 19px;
    color: white;
    text-decoration: underline #FFF;
    padding-bottom: 10px;

}

.double-border-bottom {
    border-bottom: thick double var(--saumon);

}
.btnaddtribu{
    text-align: center;
    margin: 0 auto 50px;
    background: #0080a7d7;
    border-radius: 10px;
    width: 240px;
    padding: 10px;
}
.btnaddtribu:hover{
    background: #0292bed7;
}
.btnaddtribu a{
    color: var(--beige-claire);
}
.btnaddtribu i {
    color: var(--beige-claire);
    padding: 8px;
    border: solid 1px var(--beige-claire);
    border-radius: 10px;
    margin-right: 10px;
}
/* __________________________FORMULAIRE tribu____________________________________ */

.ajouter-une-tribu, .ajouter-un-souvenir-a-la-tribu, .modifier-le-profil, .modifier-la-photo {
    background-image: url(../images/souvenir.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 left 0;
    min-height: 80vh;
}

.ajouter-un-souvenir-a-la-tribu .consigne, .ajouter-une-tribu .consigne, .ajouter-une-tribu h1 {
    color: var(--bleu-foncer);
}
.ajouter-un-souvenir-a-la-tribu label {
    color: var(--corail);

}

/* __________________________________FORMULAIRE souvenir tribu__________________________ */

.ajouter-un-souvenir-a-la-tribu h1, .ajouter-un-souvenir-a-la-tribu h2 {
    color: var(--bleu-foncer);
    font-size: 30px;
    margin-bottom: 0;
}
.ajouter-un-souvenir-a-la-tribu h2 {
    margin-bottom: 30px;
}

/* _________________________FORMULAIRE annuler demande_______________________ */

.containerAnnulerDemande h2 {
    text-align: center;
}
/* ----------------------------------------------------------------------------------------- 
                               SECTION Souvenir
 ------------------------------------------------------------------------------------------*/

/* _______________________________________Affichage souvenir_________________________________ */
.les-souvenirs-de {
    /* background-image: url(../images/gradient-picmento-souvenir2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; */
    /* background: #EFA486; */
    background:#D2AEAE;
 }
.les-souvenirs-de h1 {
   color: var(--beige-claire);
   margin-bottom: 0;
}
.les-souvenirs-de h2 {
    color: var(--beige-claire);
    text-align: center;
    margin-bottom: 30px;
}
.section-article {
    color: var(--corail);
}
.article-baby h1 {
    color: var(--violet);
    margin: 0 auto;
    padding: 15px 0 15px ; 
}
.containnerDescription h3 {
    font-size: 25px;
    padding: 15px 0 15px ; 
}
.containnerDescription h4 {
    font-size: 20px;
    padding: 15px 0 15px ; 
}
.les-souvenirs-de .article-baby .containnerDescription ul, .les-souvenirs-de .article-baby .containnerDescription ol, .les-souvenirs-de-br .article-baby .containnerDescription ul, .les-souvenirs-de-br .article-baby .containnerDescription ol {
    padding-left: 25px; 
}

.btnaddsouvenir{
    text-align: center;
    margin: 0 auto 50px;

    width: 264px;
    padding: 10px;
    background: var(--violet);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.btnaddsouvenir:hover{
    background: var(--rose);
    text-align: center;
    margin: 0 auto 50px;
    border-radius: 10px;
    width: 264px;
    padding: 10px;
}
.btnaddsouvenir a{
    color: var(--beige-claire);
    padding: 13px;
}
.btnaddsouvenir i {
    color: var(--beige-claire);
    padding: 8px;
    border: solid 1px var(--beige-claire);
    border-radius: 10px;
    margin-right: 10px;
}
.article-baby{
    position: relative;
    padding: 20px;
    width: 100%;
    min-height: 270px;
    margin: 0 auto 65px;
    border-radius: 10px;

    background: rgba( 255, 255, 255, 0.35);
    /* box-shadow: 0 5px 42px 2px rgba(255, 255, 255, 0.37); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.article-baby .containnerDescription, .article-baby .containerImg {
    padding: 15px 0;
}
.containnerDescription {
    min-height: 112px;
}
.ruban-date {
    border-radius: 50%;
    background: var(--beige-claire);
    text-align: center;
    position: absolute;
    top: -33px;
    right: 40px;
    width: 65px;
    height: 65px;
    color: var(--corail);
    font-size: 14px;
    padding-top: 7px;
    border: thick double var(--corail);
}

.ruban-date p {
    position: relative;
}
.souv-carre {
    background-color: #FFF;
    width: 30%;
	position: relative;
    margin: 0 10px 20px;
    border-radius: 10px;
}
.souv-carre:after {
    content:'';
    display: block;
    padding-bottom: 100%;
}
.souv-carre img {
    border-radius: 10px;
    width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
.souv-carre:hover img {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}
/* _______________________________________ menu article _________________________________ */

.menu-article{
    position: absolute;
    top:0;
    right: -57px;
    
}
.menu-article ul{
list-style-type: none;
}
.menu-article i{
    font-size: 25px;
}
.menu-article a {
    color: var(--marron-fonce);
    display: block;
    padding: 10px;

}
.menu-article a:hover {
    color: var(--marron-claire);;


}
.menu-article ul li {
    background-color: rgba(255, 255, 255, 0.534);
    width: 50px;
    height: 50px;
    margin: 0 0 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* _______________________________________ menu photo _________________________________ */

.menu-photo , .menu-photo ul{
    list-style-type: none;
    width: 25px;
    position: absolute;
    right: 11px;
    top: 5px;
    text-align: right;
    
}
.menu-photo li li{  
    position: relative;
    /* padding: 5px; */
    /* text-align: left; */
}

/* les ul de 2nd et 3eme niveaux */
.menu-photo ul { 
    position: absolute;
    top: 23px;
    right: 0;
}

.menu-photo a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: rgb(83, 82, 82);
}
.menu-photo a:hover {

    color: var(--beige-claire);
}

.menu-photo li:hover > ul {
    display: block;
}
.menu-photo i {
    font-size: 25px;
    cursor: pointer;
}
.menu-photo > li > i {
    color: rgb(83, 82, 82);
}

.btn-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    background: var(--saumon);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--beige-claire);
    z-index: 15;
}
.btn-top:hover {
    color: var(--marron-fonce);
}
.year{
    color: var(--beige-claire);
    text-align: right;
    padding: 15px 0 0 ; 
}
/* _______________________________________ commentaire _________________________________ */

.commentaires-users {
    border-top: thick double var(--beige-claire);
    margin-top: 6px;
}
.commentaires {
    padding: 12px;
    border-radius: 10px;
    background-color: var(--rose-claire);
    margin: 10px 0 0;
    /* box-shadow: 0 8px 32px 0 rgba(182, 182, 182, 0.37); */
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
    
}
.commentaires i{
    color: var(--violet);
    font-size: 21px;
    padding: 8px 4px;
}
.commentaires i:hover{
    color: var(--rose);

}
.auteur-com {
    padding-top: 14px;
    font-size: 20px;
    font-weight: bold;
    color: var(--marron-fonce)
}
.text-com, .gestion-com {
    margin: 8px 0 0;
}
.gestion-com {
    justify-content: flex-end;
}
.gestion-com a {
    display: block;
    font-size: 20px; 
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.gestion-com a i{
    font-size: 25px;
}

.btncom {
    text-align: center;
    cursor: pointer;
    padding-top: 8px;
    
}
.btncom i:hover {
    
    border-radius: 50%;
      
}
.btncom i{
    border-radius: 10px;
    border: solid 1px var(--beige-claire);
    color: var(--beige-claire);
    color: var(--rose);
    font-size: 20px;
    width: 30px;
    height: 30px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* --------------------------------------------------------------
                 Section souvenir proposer
---------------------------------------------------------------- */
.les-souvenirs-proposer, .messagerie, .repondre-a-un-message, .votre-avatar, .modifiez-votre-mot-de-passe {
    /* background-image: url(../images/gradient-picmento-souvenir.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: var(--rose-claire);

}
.proposotion-souvenir {
    /* border: 2px solid #FFF; */
    border-radius: 10px;
    padding: 30px;
    margin: 30px auto;
    width: 100%;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.les-souvenirs-proposer article {
    margin: 30px 0 0;
}
.les-souvenirs-proposer p{
    color: var(--marron-fonce);
}
.les-souvenirs-proposer .description {
    margin-bottom: 12px;
}
.les-souvenirs-proposer .year{
    color:var(--rose);
}
.les-souvenirs-proposer .ruban-date{
    color: var(--corail);
    background-color: var(--beige-claire);
}

.menu-article-proposer ul{
list-style-type: none;
display: flex;
justify-content: flex-end;
margin-top: 20px;
}
.menu-article-proposer i{
    font-size: 25px;
}
.menu-article-proposer a {
    color: var(--violet);
    display: block;
    background-color: rgba(255, 255, 255, 0.534);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;

}
.menu-article-proposer a:hover {
    color: var(--rose);
}
.menu-article-proposer ul li {
    margin: 0  4px;
}
.containerBaby{
    margin-top: 12px;
}


/* --------------------------------------------------------------
                 formulaire de souvenirs baby : modifier, ajouter photo, commenter
---------------------------------------------------------------- */

.modifier-un-souvenir, .ajouter-une-photo, .ajouter-un-commentaire, .modifier-un-commentaire, .ajouter-un-souvenir-a, .modifier-une-photo, .ajouter-des-photos, .voir-signalement-commentaire  {
    /* background-image: url(../images/gradient-picmento-souvenir.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: var(--rose-claire);

}
.ajouter-un-commentaire .champW, .modifier-un-commentaire .champW, .signalement .champW, .envoyez-un-message .champW {
width: 100%;
left: 0;
}
.ajouter-un-commentaire .champ, .modifier-un-commentaire .champ, .envoyez-un-message .champ {
    width: 100%;
    left: 0;
}
.ajouter-un-commentaire form > p, .ajouter-une-photo form > p, .modifier-un-souvenir form > p {
    margin: 0 auto;
}
.ajouter-un-souvenir-a h1 {
    margin-bottom: 0;
}
.ajouter-un-souvenir-a h2 {
    margin-bottom: 30px;
}
/* __________________________________ajouter des photos */
.ajouter-des-photos h1, .ajouter-des-photos .consigne, .ajouter-une-photo h1 .ajouter-un-commentaire h1{
    color: var(--beige-claire);
    
}
.containerUpload{
position: relative;
}
.upload-carre {
    width: 100%;
	position: relative;
    /* margin: 0 10px 20px; */
    border-radius: 10px;
}
.upload-carre:after {
    content:'';
    display: block;
    padding-bottom: 100%;
}
.upload-carre img {
    border-radius: 10px;
    width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    
}
.upload-carre:hover img {
    /* opacity: .5; */
    -webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    box-shadow: 0 0px 42px 2px var(--corail);
    
}
.blockUploadCarre{
    position: relative;
    width: 20%;
    margin: 0 10px 20px;
    /* top:-200px; */
    /* right: -22vw; */
}
.pUpload{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.479);
    width: 100%;
    color: #FFF;
    border-radius: 0 0 10px 10px;
    text-align: center;
}


/* --------------------------------------------------------------
SECTION signalement
---------------------------------------------------------------- */
.signalement h1, .signalement h2{
    color: var(--beige-claire)
}
.signalement h2 {
    text-align: center;
    margin-bottom: 30px;
}

.signalementCom, .signalementSouvenir {
    border-radius: 10px;
    padding: 20px;
    margin: 0 0 20px;
    color: var(--beige-claire);
/* 
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 5px 42px 2px rgba(255, 255, 255, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */

    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.signalementSouvenir ul, .signalementSouvenir ol {
padding-left: 25px;
}
.signalementSouvenir h3 {
    font-size: 25px;
    padding: 15px 0 15px ; 
}
.signalementSouvenir > h3 {
    text-align: center;

}
.signalementSouvenir h4 {
    font-size: 20px;
    padding: 15px 0 15px ; 
}
.signalementImg {
    background-color: #FFF;
    width: 300px;
    position: relative;
    margin: 0 25px;
    border-radius: 10px;
    margin: 0 auto 30px;
}
.signalementImg:after {
    content:'';
    display: block;
    padding-bottom: 100%;
}
.signalementImg img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-radius: 10px;
    /* padding: 0 20px 0; */
}
.signalement #zone-form {
    margin-bottom: 40px;
}
.signalement .champ {
    width: 100%;
    left: 0;
}



/* --------------------------------------------------------------
                  les TRAITS
---------------------------------------------------------------- */
/* ____________________________________________ navbaby _________________________________ */
.trait-nom-baby {
    cursor: pointer;
}
.menu-baby  {
    padding: 10px;
}
.menu-baby:hover  {
    color: cadetblue;
}

.trait-baby { /*nav*/
    width: 158px;
    z-index: 50;
    background-color: var(--beige-claire);
    cursor: pointer;
    color: var(--corail);
    border-radius: 10px;
    margin-top: 10px;
    height: 40px;
    margin-left: 10px;
    
}
.trait-baby ul {
    padding:  4px 5px 3px;
}

.trait-baby li{  
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 150px;
    padding: 3px 5px;
    z-index: 20;
}


/* les ul de 2nd et 3eme niveaux */
.trait-baby ul ul{ 
    position: absolute;
    /* padding: 8px; */
    background-color: #FFF;
    /* color: #6c91a3; */
    border-radius: 10px;
    min-width: 150px;
    left: -6px;
    top: 40px;
}
/* les ul de 3eme niveaux */
.trait-baby ul ul ul {
    top:-4px;
    left: 167px;
    width: 131px;
}
.trait-baby a {
    display: block;
    text-decoration: none;
    color: cadetblue;
}
.trait-baby a:hover {

    color: rgb(9, 68, 70);
}


.trait-nom-baby {
    color: coral;
    padding : 0 8px;
}
.trait-nom-baby:hover {
    color: cadetblue;
}
.trait-nom-baby i{
    margin-left: 8px;
}

/* ____________________________________________ recherche _________________________________ */
.zoneRecherche {
    position: relative;
    width: 320px;
    margin-top: 20px;
    margin-left: auto;
}
.zoneRecherche i{
    position: absolute;
    right: 2px;
    top: 0px;
    color: rgb(107, 106, 106);
    background-color: var(--beige-claire);
    padding: 9px;
    cursor: pointer;
}
.champRecherche {
    border: none;
    padding: 10px 29px 10px 15px;
    border-radius: 10px 0 0 10px;
    width: 220px;
    background-color: rgb(255, 255, 255);
    color: var(--corail);
}
.result {
    color: var(--beige-claire);
}
#sources{
    display: block;
    border-radius: 0 10px 10px 0;
    border: none;
}
/* _______________________________________ trait retour tribu ami _________________________________ */

.btn-tribu-ami {
    margin-left: auto ;
    display: block;
    width: 150px;
    position: relative;
    top: 80px;
    right: 10px;
    color: var(--bleu-claire);
    background: var(--beige-claire);
    border: none;
    padding: 8px 8px 12px;
    height: 40px;
    border-radius: 10px;
    z-index: 30;
    position: absolute;
    text-align: center;
}
.btn-tribu-ami:hover {
 color: #0d848d;
}

/* --------------------------------------------------------------
                    liste amis messages
---------------------------------------------------------------- */

.card-msg {
    margin: 10px;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    text-align: center;
    position: relative;
    background: rgba(255, 255, 255, 0.609);
    /* box-shadow: 0 5px 42px 2px rgba(255, 255, 255, 0.37); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.card-msg a {
    padding: 15px;
    color: var(--corail);
    display: block;
}
.card-msg span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.card-msg i {
    font-size: 40px;
    padding-top: 20px;
}
.card-msg:hover {
    background: #FFF;
}
.mes-amis {
    background-image: url(../images/souvenirgradient.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 90vh;
}
.mes-amis h1{
    color: var(--beige-claire);
}
.btnaddamis{
    text-align: center;
    margin: 0 auto 50px;
    background: var(--violet);
    width: 264px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btnaddamis:hover{
    background: var(--rose);
}
.btnaddamis a{
    color: var(--beige-claire);
}
.btnaddamis i {
    color: var(--beige-claire);
    padding: 8px;
    border: solid 1px var(--beige-claire);
    border-radius: 10px;
    margin-right: 10px;
}

.messagerie-global {
    width: 100%;
    margin: 0 auto;
}
.listAmis {
    width: 100%;
    margin: 20px 0;

}
.nomUserMessagerie {
    min-width: 200px;
}
.userListeAmis { /* bloc message */
    border-radius: 10px;
    margin: 12px auto; 
    padding: 12px 0; 
    background: rgba(255, 255, 255, 0.568);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.userListeAmis a {
    display: block;
    margin-right: 8px;
    padding: 12px 11px 9px;
    border-radius: 10px;
    color: #53b8e4;

    box-shadow: 0 0 2px 0 #02AEBA;
    border: solid 1px #02AEBA;
    background: rgba(255, 255, 255, 0.568);
    box-shadow: 0 5px 42px 2px rgba(255, 255, 255, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.userListeAmis a:hover {
    background-color: #FFF;
    filter: brightness(113%);
    /* color: var(--beige-claire); */
    
}
.userListeAmis a i {
    font-size: 25px;
}
/* _______________________boite message */
/* ---------------------------Repondre---------------------- */
.textMsg{
    margin: 20px auto;
}
.userMsg {
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    padding : 20px;
    margin-bottom: 30px;
}

.repondre-a-un-message h1 {
    margin-bottom: 30px;
}
.repondre-a-un-message form{
    padding: 30px;
}
/* --------------------------------------------------------------
       ******FORMULAIRE******COMMUN
---------------------------------------------------------------- */

form > p {
    margin: 0 auto;
}
form {
    width: 100%;
    padding: 60px;
    margin: auto;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 106px;
}

form p {
    padding: 20px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
form a {
    color: #8994a6;
}
form ul {
    padding-left: 20px;
}
 #zone-form p{
    width: 930px;
    position: relative;
    margin: 0 auto;
}
 .consigne {
    color: #707070;
    width: 28%;
    height: 35px;
    display: block;
}
.champ {
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    width: 55%;
    position: relative;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.856);
}
/* champ WYSIWYG */
.champW {
    border: none;
    width: 55%;
    position: relative;
    left: 100px;
}
.btn {
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.0px );
    -webkit-backdrop-filter: blur( 9.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #3f3d3d;
}
.btn:hover {
    color: #707070;
    text-decoration: underline #707070;
}
.visu-mdp{
    right: 17px;
    bottom: 30px;
}
.messageAideMdp {
    display: none;
}
input[type="submit"] {
    border: 1px solid var(--marron-fonce);
    background-color: rgba(255, 255, 255, 0.479);
    color: var(--marron-fonce);
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    text-transform: capitalize;
    
}

input:focus {
    outline: none;
}

input.slide-hover-left {
    background-image: linear-gradient(0, var(--marron-fonce), var(--marron-fonce));
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
}

input.slide-hover-left:hover {
    background-size: 100%;
    color: #fff;
}
p.slide-hover{
    background-image: linear-gradient(0, var(--marron-fonce), var(--marron-fonce));
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
    border: 1px solid var(--marron-fonce);
    background-color: rgba(255, 255, 255, 0.479);
    color: var(--marron-fonce);
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    text-transform: capitalize;
}
p.slide-hover:hover {
    background-size: 100%;
    color: #fff;
}

/* --------------------------------------------------------------
        Timeline baby
---------------------------------------------------------------- */
.timeline, .conception-de-la-timeline, .modification-de-la-timeline {
    background-image: url(../images/picmento-oranger.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    
}
.timeline h1, .conception-de-la-timeline h1, .modification-de-la-timeline h1 {
margin-bottom: 0;
color: #AC405A;
}
.timeline h2 {
margin-bottom: 30px;
text-align: center;
color: #AC405A;
}


.conception-de-la-timeline, .consigne{
    color: var(--corail);
}
.time-carre {
    width: 300px;
	position: relative;
    margin: 0 25px;
    border-radius: 10px;
    margin: 0 20px 25px;
    display: block;
    background-size: cover;
	background-position: center center;
}
.timeline .menu-photo {
    right: 30px;
}
.time-carre:after {
    content:'';
    display: block;
    padding-bottom: 100%;
}
/* .time-carre img {
    width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 10px;
    transition: transform .2s; 
} */
.openPhoto {
    position: absolute;
    bottom: 3px;
    right: 63px;
    color: #535252;
}
.openPhoto i, .trashPhoto i {
    font-size: 20px;
}
.trashPhoto{
    position: absolute;
    bottom: 5px;
    right: 29px;
    color: #535252;
}
.blockTimeCarre {
    margin-bottom: 20px;
    position: relative;
}
/* .time-carre:hover img {
    box-shadow: 0 8px 32px 0 rgb(27, 42, 75);
    filter: brightness(133%);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.55);
} */
.btnaddtimeline{
    text-align: center;
    margin: 0 auto 30px;
    border-radius: 10px;
    width: 264px;
    padding: 10px;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    /* border: 1px solid rgb(255, 255, 255); */
    background: var(--violet);


}
.btnaddtimeline:hover{
    /* border: 1px solid var(--beige-claire); */
    background: var(--rose);
}
.btnaddtimeline a{
    display: block;
    color: var(--beige-claire);
}
.btnaddtimeline i {
    color: var(--beige-claire);
    padding: 8px;
    border: solid 1px var(--beige-claire);
    border-radius: 10px;
    margin-right: 10px;
    
}
.dateTimeline {
    text-align: center;
}
.containerTimeline {
    margin: 0 auto;
    width: 80%;
    /* background-color: black; */
}
.modal {
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
    z-index: 54;
}
.modal-content{
    width: 67%;
    margin: 15px auto;
}
.modal-content img {
    width: 100%;
    object-fit: contain;
}
.close{
    color:#FFF;
    font-size: 25px;
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: var(--saumon);
    border-radius: 10px;
    z-index: 55;
    padding: 8px 12px;
}
.modale.show {
    display: block;
}
.galerie {
    padding-top: 30px;
    margin: 0 auto;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 5px 42px 2px rgba(255, 255, 255, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    margin-bottom: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(0.98);

}
.galerie::-webkit-scrollbar { /* WebKit */
    opacity: 0;
}

.galerieEnfant {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;

}
.galerie::-webkit-scrollbar {
    display: none;
  }
*:before, *:after {
    box-sizing: inherit;
}
.galerie.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}



/* --------------------------------------------------------------
        naissance baby info
---------------------------------------------------------------- */

.naissance {
    background-image: url(../images/picmento-oranger.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;


    /* min-height: 1100vh ; */
}
.naissance h1 {
   
    color: #AC405A;

    /* min-height: 1100vh ; */
}
.naissance section {
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 5px 42px 2px rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    min-height: 300px;
    font-size: 30px;
    color: rgb(122, 121, 121);
    padding: 45px;
}


.spnaissance {
    color: #AC405A;
    font-size: 32px;

}


/* --------------------------------------------------------------
        Section Messagerie Amis
---------------------------------------------------------------- */

.bulleBaby {
  
    width: 70px;
    height: 70px;
	position: relative;
    margin: 0 10px;
}
.bulleBaby:after {
    content:'';
    display: block;
    padding-bottom: 100%;
}
.bulleBaby img {
    width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 50%;
}
.containerBull p{
    text-align: center;
}
.avatar-rond {
    width: 50px;
    height: 50px;
	position: relative;
    margin: 0 10px;
}
.gestionAmis {
    width: 200px;
    justify-content: flex-end;
}
/* ____________________________mail / message________________________________*/
.avatar-rond img {
    width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 50%;
}
.messageNonLu{
    font-weight: bold;
    width: 280px;
}
.messageLu {
    font-weight: normal;
    width: 280px;
    margin-left: 5px;
}
.date-mail {
    text-align: center;
    margin-left: auto;
}
.message-recu{
    cursor: pointer;
    background: rgba( 255, 255, 255, 0.45 );
    /* box-shadow: 0 5px 42px 2px rgba(255, 255, 255, 0.37); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 20px;

}
.filou {
    position: absolute;
    background-color: var(--beige-claire);
    min-height: 200px;
    padding: 12px;
    top: 66%;
    left: 50%;
    z-index: 50;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.userMessage{
    margin-bottom: 20px;
    
}
.closeMessage .ii{
    font-size: 30px;
}

.filou ul{
   list-style-type: none;
}
.filou nav{
    margin-left: auto;
}
.filou i{
    color: #F07167;
    padding: 5px;
    font-size: 25px;
}
.textMsgrecu {
    min-height: 90px;
}

/* --------------------------------------------------------------
                        desing des alerte d'eeruer de formulaire
---------------------------------------------------------------- */
.alerte { 
    color: rgb(148, 25, 25);
    width: 100%;
    display: block;
}
/* --------------------------------------------------------------
                        Formulaire ajouter un souvenir a un baby
---------------------------------------------------------------- */
 

.prenom-title{
    text-align: center;
    color: var(--corail);
}
/* --------------------------------------------------------------
                        formulaire des outils de la tribu
---------------------------------------------------------------- */

.ajouter-un-enfant-a-la-tribu, .modifier-le-nom-de-ma-tribu, .associer-un-parent, .annuler-demande {
    background-image: url(../images/souvenir.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 left 0;
    min-height: 90vh;
}
.ajouter-un-enfant-a-la-tribu h1, .modifier-la-photo h1, .modifier-le-profil h1{
   
    color: var(--bleu-foncer);

}
.ajouter-un-enfant-a-la-tribu .consigne, .modifier-la-photo .consigne, .modifier-le-profil .consigne {
    color: var(--bleu-foncer);
}
.modifier-le-nom-de-ma-tribu h1, .modifier-le-nom-de-ma-tribu .consigne, .associer-un-parent h1, .associer-un-parent .consigne {
    color: var(--bleu-foncer);
}



/* --------------------------------------------------------------
                        Contact
---------------------------------------------------------------- */

.contact {
    background-image: url(../images/declick.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: bottom;
}
.contact h1 {
    color: #FFF;
}
.contact form .consigne{
 color: var(--beige-claire)
}
/* --------------------------------------------------------------
                        design specifique bouton
---------------------------------------------------------------- */

/*------------------  checkbox---------------------- */
:root {
    /* Colors */
    --secondary: #c2c2c2;
    --body-background: #f3f3f3;
  }
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.switch {
    appearance: none;
    max-height: 25px;
    min-width: 50px;
    background-color: var(--secondary);
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }

  .switch::before {
    content: "";
    height: 25px;
    width: 25px;
    background-color: #FFF;
    position: absolute;
    border-radius: 50%;
    border: var(--secondary) solid 0.2em;
    transition: transform 0.3s ease, border-color 0.3s ease;
  }
  
.switch:checked {
    background-color: var(--corail);
  }
  
.switch:checked::before {
    border-color: var(--corail);
    transform: translateX(100%);
  }
  
  @media screen and (max-width: 500px) {
    .switch {
      outline: none;
    }
  }

/* --------------------------------------------------------------
                        SECTION Amis
---------------------------------------------------------------- */
/* _______________________________________tribu amis____________________________________ */

.les-tribus-de-mon-ami, .ajouter-pour-mon-ami-un-souvenir-a-la-tribu {
    /* background-image: url(../images/souvami.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background: #53b8e4;


    min-height: 90vh;


}

/* _______________________________________souvenir baby amis____________________________________ */

/* affichage article */
.les-souvenirs-de-br, .envoyez-un-message, .signalement {
    /* background-image: url(../images/souvami.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
    min-height: 90vh;
    background: #53b8e4;
}
.les-souvenirs-de-br h1, .ajouter-pour-mon-ami-un-souvenir-a-la-tribu h1{
    color: var(--beige-claire);
    margin-bottom: 0;
} 
.les-souvenirs-de-br h2, .ajouter-pour-mon-ami-un-souvenir-a-la-tribu h2{
    color: var(--beige-claire);
    margin-bottom: 30px;
    text-align: center;
}
.les-souvenirs-de-br .article-baby i , .les-souvenirs-de-br .containnerDescription{
    color:#4187B2;
}
.les-souvenirs-de-br .article-baby i:hover {
    color: var(--beige-claire)
}

.ajouter-pour-mon-ami-un-souvenir-a-la-tribu .consigne{
    color: #43637a;
}

.envoyez-un-message h1 {
    color: var(--beige-claire);
    text-align: center;
}
.les-souvenirs-de-br h2, .signalement h2 {
    margin-bottom: 30px;
}
.les-souvenirs-de-br .section-article{
    color: #2E607E;
}

.les-souvenirs-de-br .ruban-date {
    background-color: var(--beige-claire);
    border: thick double #2E607E;
    color: #2E607E;
}
/* commentaire */
.les-souvenirs-de-br .commentaires {
    background: #ccf8ffdb;
}

.les-souvenirs-de-br .commentaires i {
    padding-top: 4px;
}
.les-souvenirs-de-br .menu-article a:hover, .les-souvenirs-de-br .commentaires i:hover, .envoyez-un-message .consigne, .signalement .consigne {
    color: var(--beige-claire);

}
.fa-exclamation {
    padding: 5px;
}
  /* ----------------------------------------------------------------------
                       class utile pour les animations JS
--------------------------------------------------------------------------- */

.d-none{
    display: none;
}
.focus {
    text-decoration: underline overline var(--marron-fonce);
}
  /* ----------------------------------------------------------------------
                    tableau signalement super admin
--------------------------------------------------------------------------- */

table {
    border-collapse: collapse;
  }
th { 
    text-decoration: underline;
    background-color: #333333;
    color: #FFF;
}
.table {
    margin-bottom: 60px;
}
tr:nth-child(even) {
    background-color: rgb(224, 223, 223);
}


.grecaptcha-badge { visibility: hidden; }
/* ***************************** loader *******************************u */
.loader {
    position: absolute;
    width: 32%;
    top: 53%;
    left: 50%;  
    transform: translate(-50%, -50%);
    z-index: 100;
    opacity: 0.7;
    
}
.loader img{
    width: 100%;
    transform: scale(0.8);
    animation: lds-heart 4.2s infinite; 
    
}
@keyframes lds-heart{

    0% {
        transform: scale(0.3);
        opacity: 0.9;
    }

    50% {
        transform: scale(0.8);
        opacity: 0.4;
    }

    
    100% {
        transform: scale(0.4);
        opacity: 0.8;
    }

  }

  
  .fondu-out {
        opacity: 0;
        transition: opacity 0.4s ease-out;
        z-index: -10;
        transition: z-index 0.4s ease-out;
    }

  

/*
:nth-child(odd)			impaires
:nth-child(even)		paires
:nth-child(2)				juste le second
:nth-child(n+2)			je pars du second et les n suivants
:nth-child(-n+2)		je pars du second et les n précédents
:nth-child(4n+2)		je pars du second puis tous les 4 suivants
:first-child				le premier
:last-child					le dernier
:nth-last-child(2)	avant dernier
*/


/* --------------------------------------------------------------
                        Book
---------------------------------------------------------------- */
/* body{

    background: rgba( 255, 255, 255, 0.45 );
   box-shadow: 0 5px 42px 2px rgba(255, 255, 255, 0.37);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   border: 1px solid rgba( 255, 255, 255, 0.18 ); 
} */