/*---------------------------------------
CE QUI EST SPECIFIQUE AU PROJET
---------------------------------------*/
:root {
    --beige-claire: #FFFCF8;
    --beige: #FDFCDC;
    --saumon: #FED9B7;
    --corail:#F07167;
    --bleu-claire: #00AFB9;
    --bleu-confé:#0081A7;

  }
body {
    font-family: 'Comfortaa', cursive;
    background-color: #FFFCF8;
    line-height: 1.5;
    padding-top: 70px;
    overflow: hidden;
    overflow-y: scroll;
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
/* importation de mes vue en une div */
.content{
    min-height: 90vh;
}
#logo {
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 30px;
    line-height: 1;
    background-color: transparent;
    color: #F07167;
    position: absolute;
    left: 8%;
    top:15px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFCF8;
    /* box-shadow: 0  1px 10px #858585; */
    z-index: 50;
    border-bottom: thick double var(--corail);

}
.mla {
	margin-left: auto;
}

header nav a {
    display: block;
    color: #F07167;
    text-decoration: none;
    padding: 20px;
}


header nav li {
    text-align: center;
    width: 220px;
    font-size: 20px;
}
#nav2 i, #nav2 a {
    color: #f0ecec;
}


h1 {
    padding: 50px 0 15px;
    text-align: center;
    color: #F07167;
    font-size: 30px;
}



footer {
    /* background-color: rgb(105, 104, 104); */
    background-color: rgba(0, 0, 0, 0.69);

}
footer p a {
    color:#FFF;
    text-decoration: none;
    display: block;
    padding: 8px;
    font-size: 15px;
}
footer p a:hover {
    
    text-decoration: underline #FFF;

}

 footer p {
    color: #FFF;
}


.feedback {
    padding: 10px;
    background-color: #494343b7;
    color: rgb(255, 255, 255);
    width:100%;
    height: 90px;
    margin-bottom: 30px;
}
.flash-retour{
    color: #FFF;
    font-size: 20px;
    padding-left: 20px;
    
}
.flash-retour:hover{
    text-decoration: underline;
    
}



  




 /* -------------------------------Espace perso-------------------------------------- */
#secondaire{
    margin: 0 auto 50px;
    width: 430px;
}
.votre-espace {
    background-image: url(../images/boite.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
.votre-espace h1 {
  color: #FFF;

}
.votre-espace fieldset, .votre-espace fieldset i, .votre-espace  fieldset a{
color: #FFF;

}



.votre-espace legend {
    padding: 0 15px;
}


fieldset {
    padding: 15px 0 15px 25px;
}
fieldset a {
    display: inline-block;
    text-decoration: none;
    color: #afa6a4;
    margin: 10px ;
}

/* _____________________________modifier profil */

.modifier-votre-profil {
    background-image: url(../images/jouet.jpg);
    background-size: cover;

}
/* _____________________________mot de pass */

/* _____________________________avatar */
.avatar{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.votre-avatar 
.xlg-3{
    width: 30%;
}
.xlg-9{
    width: 70%;
}

 /* ------------------------------- tribu-------------------------------------- */
 .toutes-mes-tribus h1 {
    color: var(--bleu-confé);
    /* text-shadow: 1px 1px 2px #ccc; */
    text-shadow: 1px 1px 2px #ccc, 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    margin-bottom: 30px;
 }
 .toutes-mes-tribus {
    background-image: url(../images/plume-paysage.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 right 0;
    min-height: 90vh;

 }
 .tribubaby {
     position: relative;
     margin-bottom: 50px;
     /* padding: 20px; */
     /* background-color: red; */

 }
 .tribubaby .nav-tribu{
    position: absolute;
    right: 0px;
    top: 0px;
    /* background-color: yellow; */
}
 .tribubaby .nav-tribu ul {
    list-style-type: none;
 }
 
 .tribubaby .nav-tribu ul a{
    
    display: block;
    color: var(--bleu-confé);
    /* border: dashed 1px rgb(87, 86, 86); */
 }

 .tribubaby .nav-tribu ul i{
    font-size: 25px;
    margin: 6px 0;
    color: var(--bleu-confé);
}
 .tribubaby .nav-tribu ul .ico{
    font-size: 30px;
    color: var(--bleu-confé);
}
.tribubaby .nav-tribu ul i:hover{
    color: var(--beige-claire);
}

.ico {
    font-family: "icofont";
    font-size: 35px;
    color: var(--bleu-confé);
}
 

 .baby {
     position: relative;
     padding: 22px 0 55px;
     width: 15vw;
     margin: 0 35px 0;
 }
 .tribubaby .colG{
    width: 92%;
    min-height: 200px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    

}
.colG > h2{
    padding: 25px;
    width: 100%;
    color: #43637a;
}

.id-baby{
    cursor: pointer;
}


/* --------------------------------------------- */
.cassbonbon{
    /* background: #FFF; */
	width: 100%;
	/* background-color: rgb(255, 153, 0); */
	position: relative;
    margin: 0 auto;
}
.cassbonbon:after {
    content:'';
	display: block;
	padding-bottom: 100%;
}
.photo-carre-tribu{
    position: relative;
    /* width: 38%;
    margin: 0 auto; */
}
.photo-carre-tribu img {
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
    left: 0;
}
.cassbonbon:hover img {
    /* opacity: .5; */
    /* box-shadow: 0px 0px 60px 0 rgb(255, 255, 255); */
    filter: brightness(110%);
    /* border: solid 1px #CCC; */
}
/* --------------------------------------------------- */
.nom-baby{
    position: absolute;
    color:  #4b4949;
    margin: 0 auto ;
    bottom: -42px;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    padding-top: 10px;
    width: 100vw;
}


.modale {
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 9%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 73%, rgba(0,0,0,0.44) 88%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 9%,rgba(0,0,0,1) 71%,rgba(0,0,0,1) 73%,rgba(0,0,0,0.44) 88%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(13, 35, 65, 0.712) 9%,rgba(13, 35, 65,1) 71%,rgba(13, 35, 65,1) 73%,rgba(13,35,65,0.44) 88%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	position: absolute;
	top: 20px;
    transition: 1s linear;
    z-index: 50;
	left: -150vw;
    width: 100%;
    padding: 5px 0 20px;
    border-radius: 5px;

}
.modale.open{
    left: 0;
    top: 0;
}
.modale a{
    text-align: left;
    color: #FFF;
    display: block;
    padding: 5px 10px 5px 10px ;
}
.modale a:hover{
    /* color: var(--bleu-claire); */
    color: rgb(19, 47, 87) ;
    background: #ffffff; 
    border-radius: 3px;
}

.modale h3 {
    font-size: 19px;
    color: white;
    text-decoration: underline #FFF;
    padding-bottom: 10px;

}

.double-border-bottom {
    border-bottom: thick double var(--saumon);

}
.btnaddtribu{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    padding: 12px;
    background: #0080a7d7;
    border-radius: 5px;
    width: 120px;
}
.btnaddtribu a{
    color: #ffffff;
}
.btnaddtribu i {
   color: #ffffff;
   display: block;
}
/* -----------------------------------FORMULAIRE ajout tribu */
.ajouter-une-tribu, .ajouter-un-souvenir-a-la-tribu {
    background-image: url(../images/plume-paysag1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 left 0;
    min-height: 80vh;

}

.ajouter-une-tribu h1{
    margin-bottom: 30px;

}
/* -----------------------FORMULAIRE ajouter souvenir tribu */
.ajouter-un-souvenir-a-la-tribu h1, .ajouter-un-souvenir-a-la-tribu h2 {
    color: var(--bleu-confé);
    font-size: 30px;
}
.ajouter-un-souvenir-a-la-tribu h2 {
    margin-bottom: 30px;
}


.les-tribu-de-mon-ami{
    background-image: url(../images/pawel-czerwinski-NJdfP9AlPjc-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 left 0;
    min-height: 90vh;

}
.btn-add-souvenir-amis {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--corail);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
}
/* ---------------------FORMULAIRE annuler demande */

.containerAnnulerDemande h2 {
    text-align: center;
}
/* ---------------------------------------Souvenir------------------------------------------ */
.les-souvenirs {
    background-image: url(../images/picmento-ciel.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;

 }
.les-souvenirs h1 , .les-souvenirs h2 {
   color: #FFF;
   
}
.les-souvenirs h2 {
    text-align: center;
}
.les-souvenirs section{
    /* background: linear-gradient(to left var(--saumon) 53%, rgba(255, 255, 255, 0.801) 57%); */
    /* background: linear-gradient(to left, rgba(0, 0, 0, 0) 99%, var(--saumon) 1%); */
    /* color: rgb(105, 104, 104); */
    color: #FFF;
    
}
.les-souvenirs article h1 {
    color: #FFF;
    /* color: rgb(105, 104, 104); */
    /* border-bottom: thick double var(--saumon); */
    padding: 15px 0 15px ; 
}
.add-souvenir a {
    color: #FFF;
    
}
.add-souvenir{
    text-align: right;
    margin: 0 15px 20px 0;
}
.article-baby{
    position: relative;
    padding: 20px;
    width: 92%;
    min-height: 200px;
    margin: 0 auto 65px;
    background-color: rgba(98, 98, 98, 0.37);
    box-shadow: 0 8px 32px 0 rgba(182, 182, 182, 0.37);
    border-radius: 5px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
.article-baby .description {
    padding: 20px 0;
}

.ruban-date {
    border-radius: 50%;
    background: #FFF;
    text-align: center;
    position: absolute;
    top: -25px;
    right: 40px;
    width: 50px;
    height: 50px;
    color: var(--corail);
    font-size: 14px;
    padding-top: 4px;
}

.ruban-date p {
    position: relative;
}
.souv-carre {
    background-color: #FFF;
    width: 30%;
	position: relative;
    margin: 0 10px 20px;
}
.souv-carre:after {
    content:'';
    display: block;
    padding-bottom: 100%;
}
.souv-carre img {
    width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    /* padding: 0 20px 0; */
}
.souv-carre:hover img {
	opacity: .5;
    box-shadow: 0 8px 32px 0 rgb(27, 42, 75);
    /* border-radius: 10px; */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
/* ----------------------------***--------**---menu article---***-------****------- */
.menu-article{
    width: 3%;
    position: absolute;
    top:0;
    right: -3VW;
}
.menu-article ul{
list-style-type: none;
}
.menu-article i{
    font-size: 25px;
    padding:0 10px 15px ;
    color: #FFF;
    text-align: center;
}


/* ----------------------------***--------**---menu photo---***-------****------- */
.menu-photo , .menu-photo ul{
    list-style-type: none;
    width: 25px;
    position: absolute;
    right: 11px;
    top: 5px;
    text-align: right;

}
.menu-photo li li{  
    position: relative;
    /* padding: 5px; */
    /* text-align: left; */
}

/* les ul de 2nd et 3eme niveaux */
.menu-photo ul { 
    position: absolute;
    top: 23px;
    right: 0;
}

.menu-photo a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: cadetblue;
}
.menu-photo a:hover {

    color: rgb(9, 68, 70);
}
/* .menu-photo ul {
    display: none;
} */
/* .checked:checked ~ .chec {
    display: block;
} */
.d-none{
    display: none;
}

.menu-photo li:hover > ul {
    display: block;
}
.menu-photo i {
    font-size: 25px;
    cursor: pointer;
}
.menu-photo > li > i {
    color: rgb(83, 82, 82);
}

.btn-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background: var(--saumon);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--beige-claire);
    
}
.btn-top:hover {

    color: var(--corail);
    
}
.year{
    text-align: right;
    padding: 15px 0 0 ; 
}
/*---------------------commentaire------------------------------- */
.commentaires-users {
    border-top: thick double var(--saumon);
    margin: 10px 0 0;
    padding: 10px 0 ;
}
.commentaires {
    padding: 12px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.37);
    box-shadow: 0 8px 32px 0 rgba(182, 182, 182, 0.37);
    margin: 10px 0 0;
}
.commentaires i{
    color: var(--beige-claire);
    font-size: 21px;
    padding: 8px 4px;
}
.auteur-com {
    padding-top: 14px;
}
.text-com, .gestion-com {
    margin: 0 0 8px 12px;
}


.btn-tribu-ami {
    margin-left: auto ;
    display: block;
    width: 145px;
    position: relative;
    top: -116px;
    right: 10px;
    color: var(--saumon);
    background: var(--beige-claire);
    border: none;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
}
/* ---------------------------------trait nav baby---------------------------------------- */
.trait-nom-baby:hover{
    color: coral;
}
.trait-nom-baby {
    cursor: pointer;
}
.menu-baby  {
    padding: 10px;
}
.trait-baby { /*nav*/
    /* padding: 0 8px; */
    width: 105px;
    /* margin-left: auto; */
    background-color: #FFF;
    /* z-index: 50; */
    cursor: pointer;
    color: var(--corail);
    border-radius: 3px;

}
.trait-baby ul {
    /* list-style-type: none; */
    padding:  4px 5px 3px;
}

.trait-baby li{  
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 105px; */
    /* padding: 8px; */
}

/* les ul de 2nd et 3eme niveaux */
.trait-baby ul ul{ 
    position: absolute;
    /* padding: 8px; */
    background-color: #FFF;
    color: var(--corail);
    border-radius: 3px;
    min-width: 105px;
    left: -6px;
    top: 40px;
}
/* les ul de 3eme niveaux */
.trait-baby ul ul ul {
    top:-4px;
    left: 195px;
    min-width: 500px;
    /* background-color: blueviolet; */
}
.trait-baby a {
    display: block;
    text-decoration: none;
    color: cadetblue;
}
.trait-baby a:hover {

    color: rgb(9, 68, 70);
}
/* .trait-baby ul ul {
    display: none;
} */

/* .trait-baby li:hover > ul {
    display: block;
} */

.trait-nom-baby:hover{
    color: coral;
}
.trait-nom-baby {
    color: coral;
    padding : 0 8px;
}
.trait-nom-baby i{
    margin-left: 8px;
}
/* ---------------------------------trait recherche---------------------------------------- */
/* ::selection{
    color: #fff;
    background: #664AFF;
  }
   
  .wrapper{
    max-width: 200px;
    margin-top: 20px;
    margin-left: auto;
  }
   
  .wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
   
  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
   
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
   
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
   
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
   
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
   
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }
   
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #858585;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  /* 124124+97 +9nb7+hg7,+7gh7,+97hfx97+,nj7xthsjn7w+frt9,+9w79,y */
.zoneRecherche {
    position: relative;
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
}
.zoneRecherche i{
    position: absolute;
    right: 7px;
    top: 9px;
    color: rgb(107, 106, 106);
}
.champRecherche {
    border: none;
    padding: 10px 29px 10px 15px;
    border-radius: 5px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    color: var(--corail);
}
.result {
    color: var(--beige-claire);
}


/* ------------------------Amis--------------------------------------------------------- */
.btnAddAmis{
    margin-left: auto;
    margin-right: 20px;
    width: 130px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    background: var(--corail);
}
.btnAddAmis a, .btnAddAmis i {
    color: var(--beige-claire);
    display: block;
}
.messagerie-global {
    width: 100%;
    margin: 0 auto;
}
.mes-amis {
    background-image: url(../images/test.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}



.listAmis {
    width: 100%;
    margin: 20px 0;

}
.nomUserMessagerie {
    width: 200px;
}

.userListeAmis { /* bloc message */
    background-color: var(--saumon);
    border-radius: 5px;
    margin: 12px auto; 
    padding: 12px 0; 
    width: 760px;
}

.userListeAmis a {
    display: block;
    margin-right: 8px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}


.userListeAmis a i {
    color: var(--corail);
    font-size: 25px;
    /* padding: 3px 0; */
}

/* ------------------------message--------------------------------------------------------- */
.card-msg {
    /* background: var(--saumon); */
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    text-align: center;
    position: relative;
    /* background-color: rgba(245, 57, 57, 0.37); */
    background-color: #fed9b771;
    box-shadow: 0 8px 32px 0 rgba(182, 182, 182, 0.37);
}
.card-msg a{
    color: var(--corail);
    display: block;
}
.card-msg span{
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.card-msg i{
    font-size: 40px;
    padding-top: 20px;
}


/* ***************************************************************FORMULAIRE*************************************************** */
/* --------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------COMMUN---------------------------------------------- */
form {
    width: 100%;
    padding: 60px;
    margin: auto;
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 106px;

}

form p {
    padding: 20px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
}
form a {
    color: #8994a6;
}
form ul {
    padding-left: 20px;
}

 .consigne {
    color: #707070;
    width: 20%;
    height: 35px;
    display: block;
}
.champ {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    width: 55%;
    position: relative;
    left: 150px;
    background-color: rgba(255, 255, 255, 0.856);
}
.btn {
    border: none;
    /* margin-top: 10px; */
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.0px );
    -webkit-backdrop-filter: blur( 9.0px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #3f3d3d;
}
.btn:hover {
    color: #707070;
    text-decoration: underline #707070;
}


/*----------------------------------------- Timeline ---------------------------------------------------*/

.div-time {
    padding: 60px 0;
}
.time-carre {
    background-color: #FFF;
    width: 20%;
	position: relative;
    margin: 0 10px;
}
.time-carre:after {
    content:'';
    display: block;
    padding-bottom: 100%;
}
.time-carre img {
    width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    /* padding: 0 20px 0; */
}
.time-carre:hover img {
	opacity: .5;
    box-shadow: 0 8px 32px 0 rgb(27, 42, 75);
    /* border-radius: 10px; */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
/*----------------------------------------- naissance ---------------------------------------------------*/
.naissance {
    background-image: url(../images/naissance3.jpg);
    background-size: cover;
    background-attachment: fixed;

    /* min-height: 1100vh ; */
}
.naissance h1 {
    margin-bottom: 30px;
    color: var(--beige-claire);

    /* min-height: 1100vh ; */
}
.naissance section {
    background: rgba(255, 255, 255, 0.555);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    width: 80%;
    margin: 0 auto;
    min-height: 300px;
    margin-bottom: 200px;
    font-size: 30px;
    color: rgb(122, 121, 121);
    padding: 45px;
}


.spnaissance {
    color: #BA7981;
    font-size: 32px;

}
/*----------------------------------------- souvenir porposer ---------------------------------------------------*/

.proposotion-souvenir {
    width: 100%;
}
.bulleBaby {
    background-color: #FFF;
    width: 70px;
    height: 70px;
	position: relative;
    margin: 0 10px 20px;
}
.bulleBaby:after {
    content:'';
    display: block;
    padding-bottom: 100%;
}
.bulleBaby img {
    width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 50%;

    /* padding: 0 20px 0; */
}
.containerBull p{
    text-align: center;
}
.avatar-rond {
    width: 50px;
    height: 50px;
	position: relative;
    margin: 0 10px;
}
/* ---------------------------------------------mail------------------------------- */
.avatar-rond img {
    width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    /* padding: 0 20px 0; */
    border-radius: 50%;
}
.messageNonLu{
    font-weight: bold;
    width: 280px;
}
.messageLu {
    font-weight: normal;
    width: 280px;
}
.date-mail {
    text-align: center;
}
.message-recu{
    /* background-color: #0081A7; */
    cursor: pointer;
}
.filou {
    /* display: none; */
    position: absolute;
    background-color: coral;
    min-height: 180px;
    padding: 12px;
    top: 50%;
    left: 50%;
    z-index: 50;
    transform: translate(-50%, -50%);

}
.filou p {
    width: 700px;
    min-height: 150px;
}
.filou ul{
   list-style-type: none;
}
.filou nav{
    margin-left: auto;
}
.filou i{
    color: cornflowerblue;
    padding: 5px;
    font-size: 18px;

}

/* *****************************formulaire generale*******************************u */
.alerte { 
    color: rgb(148, 25, 25);
    width: 100%;
    display: block;
}
/* *****************************formulaire ajouter souvenir*******************************u */
.ajouter-un-souvenir-a{
    background-image: url(../images/sd12.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    
}
.ajouter-un-souvenir-a #zone-form {
    background-color: rgba(58, 58, 65, 0.37);
    box-shadow: 0 8px 32px 0 rgba(182, 182, 182, 0.37);
} 

.prenom-title{
    text-align: center;
    /* color: */
}
/* *****************************form ajoute baby tribu*******************************u */
.ajouter-un-enfant-a-la-tribu, .modifier-le-nom-de-ma-tribu, .associer-un-parent, .annuler-demande {
    background-image: url(../images/plume-paysag1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 left 0;
    min-height: 90vh;
}
.ajouter-un-enfant-a-la-tribu h1{
    margin-bottom: 30px;
    color: var(--bleu-confé);
}
.ajouter-un-enfant-a-la-tribu .consigne {
    color: var(--bleu-confé);
}

/*
:nth-child(odd)			impaires
:nth-child(even)		paires
:nth-child(2)				juste le second
:nth-child(n+2)			je pars du second et les n suivants
:nth-child(-n+2)		je pars du second et les n précédents
:nth-child(4n+2)		je pars du second puis tous les 4 suivants
:first-child				le premier
:last-child					le dernier
:nth-last-child(2)	avant dernier
*/


/* --------------------------------------------------------------
                        Book
---------------------------------------------------------------- */