/*---------------------------------------
POINTS DE RUPTURE UTILES AU PROJET
---------------------------------------*/
#burger, #burger + label {
	display: none;
}

@media screen and (max-width: 1260px){
    .baby {
        width: 20vw;
    }
    .consigne {
        width: 100%;
    }
    .champ {
        width: 100%;
        left:0;
    }
	
}

@media screen and (max-width: 965px){
	header{

		background-color: #FFFCF8!important;
	}
	.wrap {
		width: 90%;
	}
	#logo {
		left: 6%;
	}
	header nav {
		width: 100%;
    border-bottom: thick double var(--corail);

	}
	nav ul {
		width: 100%;
	}

	nav ul li {
		width: 100%;
		text-align: right;
		padding: 10px 0 10px 0 ;
	}
	nav ul li :hover {
		width: 100%;
		background-color: #FFFCF8;
		text-decoration: underline 2px #FFF;
	}
	nav ul li a {
		padding: 0 0 0 0;
	}
	header {
		width: 100%;
		height: 70px;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #FFFCF8;
		z-index: 50;
	}
	
	nav li:last-child {
		border: none;
	}
	

	#burger {
		position: absolute;
		top: 15px;
		right: 25px;
		width: 40px;
		height: 40px;
		display: block;
		cursor: pointer;
		opacity: 0;
		z-index: 53;
	}
	#burger + label {
		display: block;
		padding: 5px 0 10px 50px;
		background-image: url(/picmento/site/templates/front/images/burgerSprite.png);
		background-repeat: no-repeat;
		background-size: 40px;
		background-position: left top;
		position: absolute;
		top: 15px;
		right: 25px;
		z-index: 52;
		transition: All 0.2s ease;
		color: #F07167;
		font-size: 18px;
	}

	#burger:checked + label {
		background-position: left bottom;
	}
	header nav {
		display: none;
		padding-top: 70px;
	}
	#burger:checked ~ nav {
		display: block;
		background-color: #FFFCF8;
		box-shadow: 0  0px 10px #FFFCF8;

	}

    /* ----------------------------tribu------------------------------- */
    .baby {
        width: 25vw;
    }
	

}
@media only screen and (max-width: 768px) {
    /* tablettes et ordinateurs */


    footer #pipe{
        display: none;
    }
    footer span {
        display: none;
    }
    footer p  {
        text-align: center;
    }
    footer p a {
        width: 100%;
    }
	
}	

@media only screen and (max-width: 700px) {
	/* tablette */

	/* .souv-carre {
        width: 70%;
    } */
    /* .baby {
        width: 100%;
    } */
    /* .wrap {
        width: 98%;
    } */
    .tribubaby .colG {
        width: 100%;
    }
    .tribubaby .nav-tribu {
        right: 26px;
        top: -26px;
    }
    .tribubaby .nav-tribu ul{
        display:  flex;
        flex-wrap: wrap;
        /* right: 150px; */
    }
    .tribubaby .nav-tribu ul li{
        background-color: rgba(255, 255, 255, 0.534);
        width: 50px;
        height: 50px;
        margin: 0 2px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .colG > h2 {
        padding: 40px 25px 25px;
        
    }
    .cassbonbon{
        width: 100%;
    }

	
}	

@media only screen and (max-width: 600px) {
	/* SMARTPHONES */
    .toutes-mes-tribus h1 {
        font-size: 35px;
    }
    .baby {
        width: 50%;
    }
	
}	
@media only screen and (max-width: 405px) {
	/* SMARTPHONES */
   
    /* .baby {
        width: 30;
    } */
	
}	
