body, html {
    height: 100%;
    margin: 0;
  }
.bg{
    position: relative;
    background-image: url(../images/404-1.jpg);
    background-repeat: no-repeat;
    background-position: top 0 left 0;
    background-size: cover;
    height: 100%;
    color: #FFFCF8;
    font-family: 'Montserrat', sans-serif;
}
.m404{
    position: absolute;
    width: 30vw;
    top:0;
    left: 50%;
    transform: translate(-50%);
}


#oups{
    position: absolute;
    bottom: 15px;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(2, 2, 2, 0.596);
    border-radius: 10px;
    color:#FFF;
    font-size: 18px;
    width: 90%;
    padding: 20px 35px;
    
    
}
#oups a {
    text-align: center;
    display: block;
    width: 150px;
}
#oups p {
    width: 80%;
}


.slide-hover-left{
    background-image: linear-gradient(0, #614846, #614846);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
    border: 1px solid #614846;
    background-color: rgb(255, 255, 255);
    color: #614846;
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    text-transform: capitalize;

}


.slide-hover-left:hover {
    background-size: 100%;
    color: #fff;
}


@media only screen and (max-width: 911px) {


    .slide-hover-left{
        margin-top: 20px;
        margin-left: auto;
    }

	
}	
@media only screen and (max-width: 671px) {


    .slide-hover-left{
        margin-top: 40px;
       
    }
    .m404 {
        left: 70%;
        width: 50%;
        top: 20px;
    }
    #oups{
        transform: translate(-50%, -10%);
    }

	
}	
@media only screen and (max-width: 451px) {


    .m404 {
        left: 30%;
        top: 0;
    
    }


	
}	