/*---------------------------------------
CE QUI EST SPECIFIQUE AU PROJET
---------------------------------------*/
:root {
    --beige-claire: #FFFCF8;
    --beige: #FDFCDC;
    --saumon: #FED9B7;
    --corail:#F07167;
    --bleu-claire: #00AFB9;
    --bleu-foncer:#0081A7;

  }

body {
    font-family: 'Comfortaa', cursive;
    background-color: var(--beige-claire);
    line-height: 1.5;

    overflow: hidden;
    overflow-y: scroll;
    -webkit-background-size: 12px 12px;
    background-size: 12px 12px;
    
}
/*----------------------------------- commun -----------------------------------------*/
#logo {
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 30px;
    line-height: 1;
    position: absolute;
    top: 13px;
    left: 10%;
    background-color: transparent;
    color: rgb(177, 98, 98);
}
.content{
    min-height: 65vh;
}
header{
    width: 100%;
    background-color: rgb(233, 202, 197);
}
.activez-votre-compte, .une-demande-pour-vous  {
    background-image: url(../images/gradientrose.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.view{
    min-height: 55vh;
}
.contact header, .inscription header, .connexion header {
    width: 100%;
    background-color: #fed9b7de;
}
.mla {
	margin-left: auto;
}
header nav {
    width: 90%;
}
header nav a {
    display: block;
    color: #614846;
    text-decoration: none;
    padding: 20px 0 20px 75px;
}
header nav a:hover {
    text-decoration: underline overline #614846;
}

header nav li {
    text-align: center;
    font-size: 20px;
}

h1 {
     font-size: 30px;
    text-align: center;
    margin: 60px auto;
    width: 90%;
}

#imgBandeau {
    z-index: -20;
}
.feedback {
    padding: 10px 20px;
    background-color: #494343c0;
    color: rgb(255, 255, 255);
    min-height: 90px;
    margin-bottom: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
    z-index: 10;
    border-radius: 10px;
    width: 68%;
}
/*----------------------------------- page accueil-------------------------------------------- */

.blok-presentation {
    border: solid 1px #cbb4bb;
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    margin-bottom: 30px;
}

.xlg-4{
    width: 30%;
}

.blok-presentation h2 {
    color:#c0adaa;
    margin-bottom: 10px;
}

.blok-presentation p {
    color: #b3b0ac;
    margin-bottom: 10px;
}

 #logo{
    color: rgb(177, 98, 98);
}
.sauvegarde-de-souvenirs-en-ligne h1{
    color: #e6a893;
}
.sauvegarde-de-souvenirs-en-ligne #imgBandeau {
    background-image: url(../images/souvenir-enfant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 230px;
}
.presentation{
    margin-bottom: 80px;
}
#video {
    margin: 50px auto;
    text-align: center;
    background-color: #E9CAC5;
    border-radius: 10px;
    padding: 50px;
} 
video {
    width: 100%;
}
.une-demande-pour-vous h1, .mot-de-passe-oublie h1, .activez-votre-compte h1, .recevoir-un-nouveau-mail-dactivation h1 {
    color: #b16262;
}
.activez-votre-compte a {
    text-decoration: underline #E9CAC5;
    color: #E9CAC5;
}
.activez-votre-compte a:hover {
    text-decoration: underline #FFF;
    color: #FFF;
}
.accroche{
    width: 100%;
    padding: 0 0 40px;
    text-align: center;
    color: #c0adaa;
}
#slideshow {
    background-color: #e6a893;
    padding: 55px 20px;
    margin: 0 auto;
    border-radius: 10px;
}
@keyframes gradient{
    0% {transform: translate(-25%, -50);
    }
    100% {transform: translate(-75%, -50%);
        
    }
}
#masque {
    border-radius: 10px;
    width: 100%;
    max-width:55vw;
    overflow: hidden;
    margin: 0 auto 20px;
}
#bandeau {
    position: relative;
}

/* *************************************FORMULAIRE********************************************** */

/* ---------------------------------COMMUN---------------------------------------------- */
form {
    width: 100%;
    padding: 60px;
    margin: auto;
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 106px;
}
form p {
    padding: 20px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
form a {
    color: #8994a6;
}
 .consigne {
    color: #707070;
    width: 20%;
    height: 35px;
    display: block;
}
.champ {
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    width: 55%;
    position: relative;
    left: 150px;
    background-color: rgba(255, 255, 255, 0.856);
}
input[type="submit"] {
    border: 1px solid #C9918F;
    background-color: transparent;
    color: #C9918F;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    text-transform: capitalize;
}
.une-demande-pour-vous input[type="submit"] {
    border: 1px solid var(--corail);
    background-color: transparent;
    color: var(--corail);
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    text-transform: capitalize;
}
input:focus {
    outline: none;
}
/* slide hover left -1 css */
.une-demande-pour-vous input.slide-hover-left {
    background-image: linear-gradient(0, #F07167, #F07167);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
}
input.slide-hover-left {
    background-image: linear-gradient(0, #C9918F, #C9918F);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
}
input.slide-hover-left:hover {
    background-size: 100%;
    color: #fff;
}
/* ---------------------------------page inscription-------------------------------------- */
.inscription {
    background-image: url(../images/livre-boule-bleu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 0 left 0;
}
.inscription h1 {
color: #FFF;
}
.inscription #zone-form{
    
    margin: auto;
    margin-top: 50px;
    position: relative;
}
.inscription form {
    background: rgba(255, 255, 255, 0.432);
    border-radius: 10px;
    margin-left: 0 auto;
    margin-bottom: 50px;
}
.inscription #zone-form  a{
    color: rgb(146, 221, 255) ;
}
.inscription #zone-form p , .connexion #zone-form p{
    width: 930px;
    position: relative;
    margin: 0 auto;
}
.inscription #zone-form .consigne, .inscription #zone-form label {
    color:rgb(31, 30, 30);
}
.inscription .champ {
    background-color: rgba(255, 255, 255,0.84);
}
.inscription footer {
    background-color: rgba(0, 0, 0, 0.507);
}
form ::placeholder {
    letter-spacing: 0.5px;
}
.barre {
    text-decoration: line-through;
}
.inscription .visu-mdp{
    right: 100px;
    bottom: 30px;
}
.inscription form p:nth-last-child(2) {
    display: initial;
}
.messageAideMdp {
    
    list-style-type: none;
    margin: 0 auto 20px;
    max-width: 930px;
}
.feedback a {
    color : #FFF;
    text-decoration: underline #fff;
}
/* ---------------------------------------------recevoir un nouveau mail d'activation---------------------------------- */
.recevoir-un-nouveau-mail-dactivation {
    background-image: url(../images/gradientrose.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* ----------------------------------------------------page connexion---------------------------------- */
.connexion {
    background-image: url(../images/baby.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: bottom;
}
.connexion header {
    box-shadow: none;
}
.connexion h1 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(100, 100, 100, 0.472);
    mix-blend-mode: overlay;
}
.connexion .consigne {
    color: #54585f;
}
.connexion ::placeholder {
    letter-spacing: 0.5px;
}
.connexion .champ {
    background-color: rgba(255, 255, 255, 0.692);
}

.connexion .messageAideMdp {
    display: none;
}
.connexion #zone-form #passe-oublie{
    /* text-decoration: underline #b86f6c; */
    color: #b86f6c;
}
.connexion #zone-form #passe-oublie:hover{
    color: #4f6ea0;
    text-decoration: underline #4f6ea0;
}
#connexion, #inscription, #go {
    background-color: rgba(255, 255, 255, 0.692);
}
.connexion .visu-mdp{
    right: 100px;
    bottom: 30px;
}
/* ---------------------------------------------- page contact ------------------------------------- */
.contact {
    background-image: url(../images/declick.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: bottom;
}
.contact h1 {
    color: #FFF;
}
.contact form .consigne{
 color: var(--beige-claire)
}

/*------------------  checkbox---------------------- */
/* Switch styles */
/* Global styles */

:root {
    /* Colors */
    --primary: #826eff;
    --secondary: #c2c2c2;
    --body-background: #f3f3f3;
    --shadow: #0001;
    --white: #fff;
}
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.switch {
    appearance: none;
    max-height: 25px;
    min-width: 50px;
    background-color: var(--secondary);
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.switch::before {
    content: "";
    height: 25px;
    width: 25px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    border: var(--secondary) solid 0.2em;
    transition: transform 0.3s ease, border-color 0.3s ease;
}
  
.inscription .switch:checked {
    background-color: var(--saumon);
}
  
.inscription .switch:checked::before {
    border-color: var(--saumon);
    transform: translateX(100%);
}
  
  @media screen and (max-width: 500px) {
    .switch {
      outline: none;
    }
  }
.mentions-legales h3 {
    margin-top: 30px;
}
.mentions-legales p:last-child, .politique-de-confidentialite p:last-child	{
    margin-bottom: 40px;
}	
.politique-de-confidentialite h2{
    margin-top: 30px;
    
}
.politique-de-confidentialite p {
    margin-bottom: 8px;
}
.politique-de-confidentialite ul {
    margin-bottom: 30px;
    margin-left: 25px;
}
.politique-de-confidentialite li {
    margin-bottom: 4px;
}
 /* -------------------------------------------LES FORMULAIRES-------------- */

/* ----------------------------------invitation-------------- */
.une-demande-pour-vous .invitation {
        margin-bottom: 20px;
        color: #b16262c4;
}

:root {
/* Colors */
    --secondary: #c2c2c2;
    --body-background: #f3f3f3;
}
*::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    
.switchDemande {
    appearance: none;
    max-height: 25px;
    min-width: 50px;
    background-color: var(--secondary);
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}
    
.switchDemande::before {
    content: "";
    height: 25px;
    width: 25px;
    background-color: #FFF;
    position: absolute;
    border-radius: 50%;
    border: var(--secondary) solid 0.2em;
    transition: transform 0.3s ease, border-color 0.3s ease;
}
.switchDemande:checked {
    background-color: var(--corail);
}
      
.switchDemande:checked::before {
    border-color: var(--corail);
    transform: translateX(100%);
}
@media screen and (max-width: 500px) {
    .switchDemande {
        outline: none;
    }
}
/* -------------------------------------------mot de passe oublier-------------- */
.mot-de-passe-oublie {
    background-image: url(../images/gradientrose.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 /* -------------------------------------------footer-------------- */
footer a{
    color:#FFF
}
footer {
     background-color: rgba(0, 0, 0, 0.507);
    width: 100vw;
    padding: 5px 0;
}
footer p a {
    text-decoration: none;
    display: block;
    padding: 8px;
    font-size: 15px;
}
footer p a:hover {
    
    text-decoration: underline #FFF;
}
 footer p {
    color: #FFF;
}

/* *****************************formulaire generale*******************************u */
.alerte { 
    color: rgb(148, 25, 25);
    width: 100%;
    display: block;
}
.grecaptcha-badge { visibility: hidden; }

/* ***************************** loader *******************************u */
.loader {
    position: absolute;
    width: 32%;
    top: 53%;
    left: 50%;  
    transform: translate(-50%, -50%);
    z-index: 100;
    opacity: 0.7;
    
}
.loader img{
    width: 100%;
    transform: scale(0.8);
    /* animation: lds-heart 3.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1); */
    animation: lds-heart 4.2s infinite; 
    /* animation: lds-heart 1.2s 5s linear 2s infinite alternate; */
    /* animation: couleur 5s linear 2s infinite alternate, */
    
}
@keyframes lds-heart{

    0% {
        transform: scale(0.3);
        opacity: 0.9;
    }

    50% {
        transform: scale(0.8);
        opacity: 0.4;
    }

    
    100% {
        transform: scale(0.4);
        opacity: 0.8;
    }

  }

  
  .fondu-out {
        opacity: 0;
        transition: opacity 0.4s ease-out;
        z-index: -10;
        transition: z-index 0.4s ease-out;
    }

/*
:nth-child(odd)			impaires
:nth-child(even)		paires
:nth-child(2)				juste le second
:nth-child(n+2)			je pars du second et les n suivants
:nth-child(-n+2)		je pars du second et les n précédents
:nth-child(4n+2)		je pars du second puis tous les 4 suivants
:first-child				le premier
:last-child					le dernier
:nth-last-child(2)	avant dernier
*/


/* --------------------------------------------------------------
                        Book
---------------------------------------------------------------- */