/*---------------------------------------
POINTS DE RUPTURE UTILES AU PROJET
---------------------------------------*/
#burger, #burger + label {
	display: none;
}

@media screen and (max-width: 1260px){

    .consigne {
        width: 100%;
    }
    .champ {
        width: 100%;
        left:0;
    }

    .inscription #zone-form p, .connexion #zone-form p {
        width: 100%;
    }
    .inscription #zone-form .visu-mdp, .connexion #zone-form .visu-mdp {
        right: 10px;
    }
    .inscription form {
        width: 100%;
    }
    .mg-6 {
        width:48%;
    }
    .m-12{
        width: 100%;
    }
}

@media screen and (max-width: 1100px){
    header nav {
		width: 100%;
    border-bottom: thick double var(--corail);
	}
	header nav ul {
		width: 100%;
        flex-wrap: nowrap;
	}
	header nav ul li {
		width: 100%;
		text-align: right;
		padding: 10px 0 10px 0 ;
        margin:0 25px;
	}
    header nav ul li a {
		padding: 0 0 0 0;
	}
	header {
		width: 100%;
		height: 70px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 50;
	}
    .wrapH {
        width: 100%;
        margin: 0 25px 0 0;
    }
	nav li:last-child {
		border: none;
	}
	#burger {
		position: absolute;
		top: 15px;
		right: 25px;
		width: 40px;
		height: 40px;
		display: block;
		cursor: pointer;
		opacity: 0;
		z-index: 53;
	}
	#burger + label {
		display: block;
		padding: 5px 0 10px 50px;
		background-image: url(/picmento/site/templates/front/images/burgerSprite.png);
		background-repeat: no-repeat;
		background-size: 40px;
		background-position: left top;
		position: absolute;
		top: 15px;
		right: 25px;
		z-index: 52;
		transition: All 0.2s ease;
		color: #F07167;
		font-size: 18px;
	}
	#burger:checked + label {
		background-position: left bottom;
	}
	header nav {
		display: none;
		padding-top: 70px;
	}
	#burger:checked ~ nav {
		display: block;
		background-color: var(--beige-claire);
	}
}


@media screen and (max-width: 965px){
    h1 {
        z-index: 0;
    }
	.wrap {
		width: 90%;
	}
    .s-12{
        width: 100%;
    }
	#logo {
		left: 6%;
	}
    form {
        padding: 20px;
    }
}
@media only screen and (max-width: 768px) {
    /* tablettes et ordinateurs */
    nav ul li {
        width: 110px;
    }
    footer #pipe{
        display: none;
    }
    footer span {
        display: none;
    }
    footer p  {
        text-align: center;
    }
    footer p a {
        width: 100%;
    }

	
}	

@media only screen and (max-width: 664px) {
    /* tablettes et ordinateurs */
    #video {
        padding:30px;
    }
}	

@media only screen and (max-width: 568px) {
	/* tablettes et ordinateurs */
    .connexion h1 {
        font-size: 28px;
    }
    .feedback {
        margin: 0 auto 50px;
    }
}	
	

@media only screen and (max-width: 405px) {
    #video {
        padding:20px;
    }
}

@media only screen and (max-width: 378px) {
	/* tablettes et ordinateurs */
    footer span {
        display: none;
    }
}


