/*---------------------------------------
POINTS DE RUPTURE UTILES AU PROJET
---------------------------------------*/
#burger, #burger + label {
	display: none;
}

@media screen and (max-width: 1260px){

    .consigne {
        width: 100%;
    }
    .champ {
        width: 100%;
        left:0;
    }
    .inscription #zone-form p{
        width: 100%;
    }
    .inscription #zone-form .visu-mdp{
        right: -25px;
        top: 59px;
    }
    .inscription form {
        width: 100%;
    }
    .mg-6 {
        width:48%;
    }
    .m-12{
        width: 100%;
    }
}

@media screen and (max-width: 965px){
    h1 {
        z-index: 0;
    }
	.wrap {
		width: 90%;
	}
    .s-12{
        width: 100%;
    }
	#logo {
		left: 6%;
	}
    header {
		width: 100%;
		height: 70px;
		/* position: fixed;
		top: 0;
		left: 0;
		z-index: 50; */
        background-color: #f8dec5ce;
	}
	header nav {
		width: 100%;
        display: none;
		padding-top: 70px;
        z-index: 50;
	}
	nav ul {
        justify-content: end;
	}

	nav ul li {
        width: 110px;
		text-align: right;
		padding: 10px 0 10px 0 ;
        margin-left: 0;
        margin-right: 25px;
	}

	nav ul li :hover {
        background-color: transparent;
        color: #FFF;
		/* text-decoration: underline 2px #FFF; */
	}
	nav ul li a {
		padding: 0 0 0 0;
        display: block;
	}



	#burger {
		position: absolute;
		top: 15px;
		right: 25px;
		width: 40px;
		height: 40px;
		display: block;
		cursor: pointer;
		opacity: 0;
		z-index: 53;
	}
	#burger + label {
		display: block;
		padding: 5px 0 7px 50px;
		background-image: url(/picmento/site/templates/front/images/burgerSprite.png);
		background-repeat: no-repeat;
		background-size: 40px;
		background-position: left top;
		position: absolute;
		top: 15px;
		right: 25px;
		z-index: 52;
		transition: All 0.2s ease;
		color: #F07167;
		font-size: 18px;
	}

	#burger:checked + label {
		background-position: left bottom;
	}

	#burger:checked ~ nav {
		display: block;
        background-color: #f8dec5;
		box-shadow: 0  0px 10px #ffffff;

	}

	

}
@media only screen and (max-width: 768px) {
    /* tablettes et ordinateurs */
    nav ul li {
        width: 110px;
    }
    form {
        width: 92%;
        padding: 35px;
        margin: 0 auto;
        margin-bottom: 0px;
    }
    .inscription form{
        width: 92%;

    }
    form p {
        padding: 10px 0;
    }
    .inscription #zone-form .visu-mdp {
        right: -25px;
        top: 50px;
    }
	
}	
@media only screen and (max-width: 664px) {
    /* tablettes et ordinateurs */
    footer #pipe{
        display: none;
    }
    footer span {
        display: none;
    }
    footer p  {
        text-align: center;
    }
    footer p a {
        width: 100%;
    }
}	
@media only screen and (max-width: 568px) {
	/* tablettes et ordinateurs */
    .connexion h1 {
        font-size: 28px;
    }


    

	
}	
@media only screen and (max-width: 405px) {
	/* tablettes et ordinateurs */
h1 {
    /* display: none; */
}
@media only screen and (max-width: 378px) {
	/* tablettes et ordinateurs */
footer span {
    display: none;
}

	
}


